.feed-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
   gap: 20px; 
}
.feed-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.feed-item:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.loading,
.error {
  text-align: center;
  margin-top: 20px;
}

.next-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-content img {
  max-width: 90%;
  max-height: 80vh;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}


@media (min-width: 1024px) {
  .feed-container {
    grid-template-columns: repeat(5, 1fr); 
  }
}

@media (max-width: 768px) {
  .feed-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .feed-container {
    grid-template-columns: 1fr; 
  }
} 

